.board {
  margin: 0 auto 20px;
}

.board__row {
  display: flex;
}

.square {
  width: 35px;
  height: 35px;
/*   margin:-1px 0 0 -1px;
  border: 1px solid gray; */
  background-color: #fcf5e8;
}

.outer {
  background-color: inherit;
}

.wall {
  background-color: gray;
  background-image: url('../../assets/brick-crop.jpg');
  background-size: contain;
  border: none;
}

.square.person::before, .square.box::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}

.square.person::before {
  border-radius: 50%;
  background-color: #819c5a;
}

.square.box::before {
  border-radius: 14%;
  background-color: #6b5942;
}

.square.target {
  position: relative;
}

.square.target::after {
  content: '';
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  background-color: #ebbfc0;
}
