.board-size-wrapper {
  margin: 30px 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.board-size-input-wrapper label {
  display: block;
  padding-bottom: 10px;
  color: white;
}

.board-size-input-wrapper select {
  display: block;
  width: 80px;
  height: 28px;
  padding: 3px 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

button.board-size-submit {
  width: 90px;
  height: 28px;
  padding: 3px 20px;
  font-size: 14px;
  background-color: white;
  border: 1px solid white;
  color: black;
  cursor: pointer;
}


.board-maker-wrapper {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
}

.board-maker-wrapper .level-maker-board {
  background-color: #fcf5e8;
  margin: 0 20px 20px 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.level-maker-board .board__row {
  display: flex;
}

/* .board__row:nth-child(odd) .square:nth-child(odd),
.board__row:nth-child(even) .square:nth-child(even) {
  background-color: #f9ebd1;
}
 */
 .board-maker-wrapper .square {
  width: 35px;
  height: 35px;
  margin:-1px 0 0 -1px;
  border: 1px solid #f9ebd1;
  background-color: #fcf5e8;
}

.board-maker-wrapper [data-square='wall'] {
  background-image: url('../../assets/brick-crop.jpg');
  background-size: contain;
  border: none;
}

.board-maker-wrapper [data-square='person'] {
  background-color: #819c5a;
  border-radius: 50%;
}

.board-maker-wrapper [data-square='box'] {
  border-radius: 14%;
  background-color: #6b5942;
}

.board-maker-wrapper [data-square='target'] {
  position: relative;
}

.board-maker-wrapper [data-square='target']::before {
  content: '';
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  background-color: #ebbfc0;
}

.board-square-input-wrapper {
  margin: 0 20px 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.option-wrapper {
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.option-wrapper > * {
  cursor: pointer;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.option-wrapper label {
  display: flex;
  align-items: center;
  padding: 10px 12px;
}
span.label-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;

}
.label-image--person {
  border: 1px solid #f9ebd1;
  background-color: #fcf5e8;
}
input[type="radio"]:checked ~ label {
  color: rgb(107, 218, 251);
  background-color: rgba(0, 0, 0, 0.3);
}
input[type="radio"]:focus ~ label {
  outline: 1px solid blue;
}

.play-button-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
button.play-current-level-maker {
  margin: 20px;
  border: 1px solid white;
  background-color: white;
}
.notification {
  padding: 20px;
  font-size: 20px;
  color: pink;
}

.play-level-maker-container {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
.play-level-maker-container.play-level-maker-is-hidden {
  display: none;
}


@media (min-width: 700px) {
  .board-size-wrapper {
    display: flex;
    align-items: center;
  }
  .board-size-wrapper > * {
    margin-right: 50px;
  }
}

