.levels-menu {
  position: relative;
  margin-bottom: 20px;
  z-index: 2;
}

button.levels-menu__button {
  width: 126px;
}

.levels-menu__list {
  display: none;
  position: absolute;
  width: 265px;
  padding: 10px;
  border: 1px solid black;
  background-color: #f0f0f0;
}

.levels-menu__list-is-active {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.levels-menu__list__choose-level {
  flex-basis: 100%;
  padding-bottom: 10px;
  text-align: center;
}

.levels-menu__list__item {
  flex-basis: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.levels-menu__list__item:hover {
  border: 1px solid rgb(107, 218, 251);
  color: rgb(107, 218, 251);
  background-color: rgba(0, 0, 0, 0.4);
}


@media (min-width: 900px) {
  .levels-menu {
    margin-bottom: 0;
  }
}
