/* Sokoban-JavaScript Game */

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
}

/* box-sizing property is not inherited */
*, ::before, ::after {
  box-sizing: border-box; 
}

header {
  font-size: 16px;
  background-color: #20232a;
  color: white;
}
.header {
  max-width: 1024px;
  height: 60px;
  margin: auto;
  padding: 0 14px;
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(107, 218, 251);
}
.header__title {
  padding: 10px 10px 10px 0;
  flex-basis: calc(100% / 6);
}
.header__nav{
  align-self: stretch;
  display: flex;
}
.header__nav a {
  padding: 0 14px;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 300;
  color: white;
}
.header__nav a.nav__a--active {
  color: rgb(107, 218, 251);
}
.header__nav a.nav__a--active::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid rgb(107, 218, 251);
}
.header__github {
  margin-left: auto;
  padding: 10px;
  font-size: 14px;
}

main {
  max-width: 1024px;
  margin: auto;
  padding: 20px 14px;
}
h1 {
  margin: 16px 0 30px;
  font-size: 18px;
  color: white;
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
}


.nav-buttons {
  width: 280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.nav-button {
  margin: 5px auto 15px;
  font-size: 20px;
  background-color: #b8b8b8;
  cursor: pointer;
}

.nav-button--up, .nav-button--down {
  flex-basis: 80%;
}

.nav-button--left, .nav-button--right {
  flex-basis: 45%;
}

/* button style */
.btn {
  padding: 4px 14px;
  font-size: 16px; 
  border: 1px solid black;
  color: black;
  background-color: #f0f0f0;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid rgb(107, 218, 251);
  color: rgb(107, 218, 251);
  background-color: rgba(0, 0, 0, 0.1);
}


@media (max-width: 500px) {
  .header__github {
    display: none;
  }
}

@media (min-width: 900px) {
  .header__title {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
}
