.winner-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  font-weight: bold;
  color: red;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.winner-screen-is-hidden {
  display: none;
}
